* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fade-enter,
.fade-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
}
.fade-enter,
.fade-appear {
  animation-name: ivuFadeIn;
  animation-play-state: running;
}
.fade-leave {
  animation-name: ivuFadeOut;
  animation-play-state: running;
}
.fade-enter,
.fade-appear {
  opacity: 0;
  animation-timing-function: linear;
}
.fade-leave {
  animation-timing-function: linear;
}
@keyframes ivuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ivuFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
